* {
    display: block;
}

span {
    display: inline;
}

html {
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: auto;
    background: #ffffff;
}

body {
    width: auto;
    height: auto;
}  

span.hello {
    color: #00ffff;
}

span.world {
    color: #ffff00;
}

#goodbye {
    color: #ff0000;
}